edge_module/helpful_scripts/BOM DB.xlsx
edge_module/helpful_scripts/convert_bom_db.py
edge_module/helpful_scripts/convert_master_parts.py
edge_module/helpful_scripts/Master Parts.xlsx
edge_module/helpful_scripts/odoo_import_data.xlsx
edge_module/helpful_scripts/odoo_product_import.xlsx
edge_module/models/jira tester.ipynb
