/* Testing out the custom styles for the list view */
.o_list_renderer .o_data_cell {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.o_form_view.o_xxl_form_view .o_form_sheet_bg {
    flex: 1 1 4000px !important;
}
.o_form_view .o_form_sheet_bg {
    max-width: 15034px !important; 
}
.flex-nowrap {
    flex-wrap: wrap !important; 
}
/* .d-flex {
    display:  !important; 
} */

.company_logo {
    width: 300px !important;
    height: auto !important;
}
.shipping-address {
    float: right;
    clear: right;
}
div[t-field="o.partner_id"] {
    float: right;
    clear: right;
}
.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-warning {
    background-color: #ffc107;
    color: #212529;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.blinking {
    animation: blinking 1s infinite;
}